.Footer {
}

// RESPONSIVE FOOTER
.Footer-inner .widget {
	@include span-columns(4);
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}

.Footer-inner {
}

//style the widgets
.Footer-inner .widget {

}

#nav_menu-2{
	float: right;
}

.Socket{
	background: #4a4a4a;
	height: 150px;
	color: #ffffff;
}

.Socket a{
	color: #ffffff;
}

.socket-relative{
	position: relative;
	height: 100%;
}

.footer-inhoud{
	position: absolute;
	width: 100%;
	bottom: 0;
}

.menu-0{
	color: #000000;
}

@media all and (max-width: 600px) {
	.footer-inhoud{
		padding-top: 20px;
	}
}