
@media all and (min-width: 0px) and (max-width: 1040px) {
	.footer {
		background: #4a4a4a;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media all and (min-width: 1025px) {
	.page-template-template-home-php .footer-rel{
		position: absolute;
		bottom: 0;
		width: 816px;
	}
}
.footer{
	background: #4a4a4a;
	margin-top: 50px;
}

.footer a{
	color: #ffffff;
}

#nav_menu-2{
	float: right;
}

.sitemap{
	visibility: hidden;
}

// RESPONSIVE FOOTER
.Footer-inner .widget {
	@include span-columns(4);
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}