.slideshowcontainer {
     -webkit-transform: scale(1) skew(-15deg, 0deg);
    -moz-transform: scale(1) skew(-15deg, 0deg);
    -o-transform: scale(1) skew(-15deg, 0deg);
    -ms-transform: scale(1) skew(-15deg, 0deg);
    transform: scale(1) skew(-15deg, 0deg);

    box-shadow:         1px 0px 14px 0px rgba(50, 50, 50, 0.86);
}
#slideshow {
    position:relative;
    height: 270px;
}

#slideshow img {
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    z-index:8;
    border:1px solid #000000;
}

#slideshow img.active {
    z-index:10;
}

#slideshow img.last-active {
    z-index:9;
}

.slideshow-link{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 15%;
    padding-left: 10px;
    padding-top: 11px;
    z-index: 999;
    color: white;
}

.slider-left{
    margin-right: 10px;
}

@media all and (max-width: 600px) {



    .slideshowcontainer{
        -webkit-transform: scale(1) skew(0deg, 0deg);
        -moz-transform: scale(1) skew(0deg, 0deg);
        -o-transform: scale(1) skew(0deg, 0deg);
        -ms-transform: scale(1) skew(0deg, 0deg);
        transform: scale(1) skew(0deg, 0deg);
        margin-bottom: 20px;
    }

    .slideshow-link{
        font-size: 10px;
        bottom: 11px;
        padding-top: 9px;
    }

    #slideshow{
        height: 207px !important;
    }
}

